:root {
  --primary: #6366F1;
  --primary-text: #4B5563;
  --primary-heading: #374151;
  --omega: #9CA3AF;
  --omega-light: #e2e8f0;
  --omega-dark: #6B7280;
  --body-bg: #F3F4F6;
}

html {
  font-size: 100%;
}

body {
  background: var(--body-bg);
  color: var(--primary-text);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
  display: inline-block;
  color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-heading);
  line-height: 1.25;
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  font-weight: 800;
  font-size: 2.25rem;
}

.spacing {
  box-sizing: border-box;
  min-width: auto;
  border-top-style: solid;
  border-top-color: transparent;
  border-top-width: 2px;
  height: 0;
  margin: 1rem 0;
  &.is-lg {
    margin: 2rem 0;
  }
}


.page-header {
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    @include breakpoint('xs') {
      font-size: 2rem;
    }
  }
  @include breakpoint('xs') {
    font-size: 1rem;
    line-height: 1.5;
  }
  font-size: 1.2rem;
  line-height: 1.8;
}

.notice {
  text-align: center;
  padding: .8rem 1.3rem;
  font-size: .9rem;
  line-height: 1.5;
  background: linear-gradient(to right,#f219aa,#7026B9);
  color: #fff;
}

.sidebar-widget {
  width: 295px;
  @include breakpoint('xs') {
    width: 100%;
  }
}